<!DOCTYPE html>
<html>
<head>
  <title>Diversify</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>
<body>

  <nav class="top-bar">
    <%= image_tag("logo.jpeg", style: 'height: 40px; width: 40px') %>
    <a id="nav-heading" href="/"><h1 id="nav-heading">Diversify</h1></a>
    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li><a href=<%="/plants"%>>SEARCH</a></li>
          <li><a href=<%="/users/#{current_user["id"]}"%>>PROFILE</a></li>
          <li><%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'SIGN UP', new_user_registration_path %></li>
          <li><%= link_to 'SIGN IN', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>

<footer>
  <ul class="menu">
    <li><a href="https://journals.asm.org/doi/10.1128/msystems.00031-18" target="blank">*American Gut Study</a></li>
    <li><a href="https://github.com/taylorkle/plants-counter" target="blank">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/taylorkingstonle/" target="blank">LinkedIn</a><li>
  </ul>
</footer>

</html>
